body {
    background-color: #f5f0e8;
    color: #292522;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-top: 1px solid #a53b8e;
}

h1 {
    font-size: 50px; 
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
}

a {
    color: #a53b8e;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

ul {
    list-style: none;
}

ul li::before {
    content: "✦";
    color: #a82978;
    margin-right: 10px;
}