body {
    background-color: #f5f0e8;
    color: #292522;
    font-family: Arial, serif;
}

h1 {
    font-size: 50px; 
    letter-spacing: 2px;
}

h2 {
    font-size: 25px;
}

a {
    color: #a53b8e;
    text-decoration: none;
}

ahover {
    text-decoration:underline;
}